.vscode/
__pycache__/
env_*/
build/
*.egg-info/

datasets/
test_audio/source
test_audio/*h*k/
test_audio/comparative_tests/test_*
train_logs/training_set*
rnnoise-master/
DNS-Challenge-master*.zip
*train_logs*.zip

*.so*
!rnnoise_wrapper/libs/*.so*
